* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Crimson Text', Arial, sans-serif;
}

header, main, footer {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

h1 {
    padding-top: 2rem;
}

header h1, header p {
    background-color: #00907d;
    text-align: center;
    color: #f3eada;
}

h2 {
    text-align: center;
    padding: 1rem;
}

h3 {
    padding: 1rem;
    text-decoration: underline;
}

p {
    text-align: justify;
    padding: 1rem;
}

.name {
    padding: .5rem 1rem 0;
} 

#crimson {
    font-family: 'Crimson Text', Arial, sans-serif;
    font-size: 1.2rem;
}

ul {
    text-align: start;
    padding-bottom: 1rem;
}

li {
    padding-left: 1rem;
}


img {
    border: 5px outset #00907d;
    background-color: #effcf9;
    padding: 1rem;
    margin: 1rem;
}

footer p {
    text-align: center;
}