* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Crimson Text', Arial, sans-serif;
    font-weight: 500;
}

header, main, footer {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

main {
    background: linear-gradient(rgba(247, 244, 238, 0.5), rgba(236, 215, 173, 0.5)), url("../images/wallpaper.jpg");
    background-size: contain;
    
    
}

h1 {
    padding-top: 2rem;
}

header h1, header p, footer, footer p {
    background-color: #01463c;
    text-align: center;
    color: #f7f4ee;
    font-weight: 700;
}

h2 {
    text-align: center;
    padding: 1rem;
}

h3 {
    padding: 1rem;
    text-decoration: underline;
}

p {
    text-align: justify;
    padding: 1rem;
}

.name {
    padding: .5rem 1rem 0;
} 

#crimson {
    font-family: 'Crimson Text', Arial, sans-serif;
    font-size: 1.2rem;
}

ul {
    text-align: start;
    padding-bottom: 1rem;
    list-style: none;
}

li {
    padding-left: 1rem;
}


img {
    border: 5px outset #f3eada;
    background-color: #effcf9;
    padding: 1rem;
    margin: 1rem;
}

