*{box-sizing: border-box;}

dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}


#mydialog div {
    display: grid;
    grid-template-columns: auto 44px;
    background-color: #ddd;
    padding: 5px;
    border-bottom: #aaa 1px solid;
}

#mydialog h2 {
    margin: 0;
    color: #275690;
}


#mydialog button {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow:  0 0 10px #aaa;
}

#mydialog p {
    padding: 10px;
    color: #375170;
}

::backdrop {
    background-color: rgba(255, 255, 255, 0.75);
}