* {
    font-family: "Libertinus Serif Display", sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
}

/* --------- Header ---------- */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 25px 0 5px 10px;
    border-bottom: 1px solid #ff6a3d;
    column-gap: 8px;
    align-items: end;
    background-color: #1a2238;
    color: white;
}

header img {
    display: block;
    width: 150%;
    height: auto;
    align-self: center;
}

header span {
    padding-left: 10px;
}

/* -------- Hamburger Button --------- */

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* changed font-family because "Libertinus Serif Display" was displying a small X */
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}


/* ---------- Navigation --------- */

.navigation {
    display: none;
    min-width: 300px;
    /* not display the navigation bar by default*/
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: 1px solid white;
    color: white;
}

.navigation li.current {
    background-color: #ff6a3d;

    a {
        color: black;
    }   
}


.navigation a:hover {
    background-color: #8bc2e3;
    color: black;
}

/* -------- Main --------- */

h1 {
    padding: 10px;
}

.menu {
    margin: 1rem auto;
    text-align: center;

    button {
        padding: 0.5rem 1rem;
        margin: 0.3rem;
        background-color: #ed9074;
        border: 2px solid #8bc2e3;
    }

    button:hover {
        background-color: #8bc2e3;
    }       
}

#cards {
    margin-bottom: 1rem;
}

.grid section { 
    border: 1px solid rgb(205, 210, 237);
    margin: 1rem;
    padding: 15px;
    background-color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    img {
        margin: 10px;
    }

    h2 {
        display: none;
    }

    p, a {
        margin: 5px 0;
        font-size: 1rem;
    }
}

.grid section:hover {
    transform: scale(1.03);
}

.list section {
    display: grid;
    grid-template-columns: 20% 15% 11% 49%;
    column-gap: 5px;
    border-top: 1px solid #cdd2ed;
    padding: 0.2rem 0 0 10px;
    background-color: #b1d6ec;
    align-items: center;

    img {
        display: none;
    }

    h2, p, a {
        font-size: .6rem;
        color: #1a2238;
    }


    &:nth-child(even) {
        background-color: white;
    }
}



/* -------- Footer -------- */

footer {
    background-color: #1a2238;
    color: white;
    padding: 1rem 10px;
    text-align: start;
}

.contact, .socialLinks {
    padding-bottom: 1.5rem;
}

footer p {
    margin: 10px 0;
}

.socialLinks {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.socialLinks a {
    display: flex;
    width: 50px;
    /* touch device*/
    height: 50px;
    border: 3px solid white;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.chamber-name {
    color: #ff6a3d;

}

.socialLinks img {
    width: 35px;
    height: 35px;
}

.socialLinks a:hover {
    background-color: white;
}