@media only screen and (min-width: 38rem) {
    /* 38rem is 608px*/

    header,
    main,
    footer {
        margin: 0 auto;
    }

    main {
        padding: 0 40px;
    }

    header {
        grid-template-columns: 24px auto auto;
        padding: 60px 40px 10px 40px;   
    }

    header img {
        display: block;
        width: 60px;
        height: 60px;
    }

    header span {
        padding-left: 40px;
        align-self: center;
        font-size: 1.5rem;           
    }   

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;   
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation li {
        flex: 1;
    }

    .navigation a {
        border: none;
        text-align: center;
    }

    .grid  {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 0 1rem;
    }

    .grid section {
        margin: 1rem 0;
        padding: 15px 0;
    }


    .list section {
        grid-template-columns: 20% 32% 15% 35%;
        column-gap: 20px;
        border-top: 1px solid #cdd2ed;
        padding: 0.5rem 10px;       
    }

    .list section h2, p, a {
        font-size: 1.2rem;
    }

    footer {
        display: flex;
        gap: 1em;
        padding: 40px;
    }

    footer div {
        flex: 1;
    }
}