* {
    font-family: "Libertinus Serif Display", sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
}

/* --------- Header ---------- */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 25px 0 5px 10px;
    border-bottom: 1px solid #ff6a3d;
    column-gap: 8px;
    align-items: end;
    background-color: #1a2238;
    color: #ffffff;
}

header img {
    display: block;
    width: 150%;
    height: auto;
    align-self: center;
}

header span {
    padding-left: 10px;
}

/* -------- Hamburger Button --------- */

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* changed font-family because "Libertinus Serif Display" was displying a small X */
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}


/* ---------- Navigation --------- */

.navigation {
    display: none;
    min-width: 300px;
    /* not display the navigation bar by default*/
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

.navigation li.current {
    background-color: #ff6a3d;
}

.current a {
    color: #000000;
}


.navigation a:hover {
    background-color: #8bc2e3;
    color: #000000;
}

/* -------- Main --------- */

h1, main h2 {
    padding: 10px;
    color: #1a2238;
}

.menu {
    margin: 1rem auto;
    text-align: center;     
}

.menu button {
    padding: 0.5rem 1rem;
    margin: 0.3rem;
    background-color: #ed9074;
    border: 2px solid #8bc2e3;
}

.menu button:hover {
    background-color: #8bc2e3;
}

#cards {
    margin-bottom: 1rem;
}

.grid section { 
    border: 1px solid #cdd2ed;
    margin: 1rem 5px;
    padding: 15px 5px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: #00000059 0px 5px 15px;
}

.grid section:hover {
    transform: scale(1.03);
}


.grid h2 {
    display: none;
}

.grid #place-title {
    display: block;
}

.grid p, .grid a {
    margin: 5px 0;
    font-size: 1rem;
}

.grid #place-address {
    padding: 40px 0 20px;
}

.grid button {
    border: 5px outset #8bc2e3;
    border-radius: 25px;
    padding: 0.3rem 15%;
    text-align: center;
    background-color: #b1d6ec;
}
    
.grid button:hover {
    transform: scale(1.2);
}

.list section {
    display: grid;
    grid-template-columns: 20% 15% 11% 40%;
    column-gap: 5px;
    border-top: 1px solid #cdd2ed;
    padding: 0.2rem 0 0 10px;
    background-color: #b1d6ec;
    align-items: center;
}

.list img {
    display: none;
}

.list h2, .list p, .list a {
    font-size: .5rem;
    color: #1a2238;
}


.list section:nth-child(even) {
    background-color: #ffffff;
}

/* -------- Footer -------- */

footer {
    background-color: #1a2238;
    padding: 1rem 10px;
    text-align: start;
}

.contact, .socialLinks {
    padding-bottom: 1.5rem;
}

footer p {
    margin: 10px 0;
    color: #ffffff;
}

.socialLinks {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.socialLinks a {
    display: flex;
    width: 50px;
    /* touch device*/
    height: 50px;
    border: 3px solid #ffffff;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.chamber-name {
    color: #ff6a3d;

}

.socialLinks img {
    width: 35px;
    height: 35px;
}

.socialLinks a:hover {
    background-color: #ffffff;
}

/* ------- Home Page ------ */
.hero img {
    margin: 0 auto;
    display: block;
    position: relative;
}

.hero a {
    position: absolute;
    bottom: 23%;
    left: 22%;
    background-color: #ff6a3d;
    color: #1a2238;
    border: 1px solid #1a2238;
    border-radius: 20px;
    padding: 15px;
    text-decoration: none;
}

.hero a:hover {
    background-color: #8bc2e3;
}

 #events h2, #weather h2, #forecast h2 {
    text-align: center;
    background-color: #ed9074;
    padding: 10px;
}

#events, #weather, #forecast, #spotlights {
    padding: 10px;
}

#events h3 {
    text-decoration: underline;
}


#spotlights section {
    border: 1px solid #1a2238;
    background-color: #dbebf4;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 10px 0;
    display: grid;
    grid-template-areas:
        "h2 h2"
        "logo address"
        "logo phone"
        "logo url";
   
}

#spotlights section p, #spotlights section a  {
    font-size: .5rem;
}

#spotlights section h2 {
    grid-area: h2;
    text-align: center;
    border-bottom: 1px solid #1a2238;
  
}

#spotlights section img {
    grid-area: logo;
    padding-right: 5px;
}

#weather {
    display: grid;
    grid-template-areas:
    "h2 h2"
    "img span"
    "img figcaption";
}

#weather h2 {
    grid-area: h2;
}

#weather img {
    grid-area: img;
}

#forecast {
    border-bottom: 1px solid #ed9074;
    display: grid;
    grid-template-areas: 
    "h2 h2"
    "today"
}

#forecast span {
    padding: 10px 0;
}

/* -------- Form ------------ */

.myform {
    margin: .8rem 0 3rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.5rem 2%;
}

.myform label {
    display: block;
    padding-top: 1rem;
    color: #1a2238;
    font-size: 0.9rem;
}

.myform .radio {
    padding-top: .5rem;
}

.myform label:last-of-type {
    padding-top: 1.8rem;
}

.myform div {
    padding-top: 1.5rem;
    color: #1a2238;
    font-size: 0.9rem;
    text-decoration: underline;
}

.myform input[type="text"],
.myform input[type="tel"],
.myform textarea,
.myform input[type="email"] {
    background-color: #dbebf4;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 0.75rem;
    color: #1a2238;
    width: 100%;
    max-width: 320px;
    appearance: none;
}

.myform input[type="radio"] {
    margin-right: 6px;
}


.myform input[type="submit"] {
    border: none;
    background-image: linear-gradient(#f1b7a5, #ff6a3d);
    color: #1a2238;
    border-radius: 6px;
    padding: 0.8rem;
    width: 100%;
    max-width: 320px;
    margin: 1rem 0;
    box-shadow: 1px 1px 4px #999;
}

.myform input:required {
    border-bottom: 8px solid #f1b7a5;
}

.myform input:required:valid {
    border-bottom: 8px solid #1a2238;
}

.myform input[type="submit"]:hover {
    transform: scale(1.03);
}


#form-results {
    background-color: #dbebf4;
    padding: 0 1rem;
    border: 1px solid #ed9074;
    border-radius: 6px;
    margin: 0 auto 1rem;
}


/* ------- Dialog ------- */

#level-titles {
    padding: 10px;
    margin: .8rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.5rem 2%;
    color: #1a2238;
   
}

#level-titles section {
    padding: 10px;
    margin: .8rem 0;
    border: 5px outset #f1b7a5;
    border-radius: 0 25px;
    padding: 0 2% .5rem;
    text-align: center;
    font-size: 0.9rem;
    animation: fadeIn 5s ease;
    animation: fadeColor 3s ease-in;
    transform: translateY(-10%) scale(1);
    transition: transform 1.5s ease-in-out;
}

#level-titles p { 
    font-size: 1rem;
}


#level-titles button {
    border: 5px outset #8bc2e3;
    border-radius: 0 25px;
    padding: 0.3rem 2%;
    text-align: center;
    background-color: #b1d6ec;
}

#level-titles button:hover {
    transform: scale(1.2);
}


dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}


dialog h2 {
    margin: 0;
    color: #275690;
    background-color: #c9deec;
    padding: .6rem;
    border: 5px outset #8bc2e3;
    border-radius: 0 25px;
}


dialog button {
    float: right;
    margin: 0;
    padding: .9rem;
    border: none;
    box-shadow: 0 0 10px #aaaaaa;
}

dialog p {
    padding-top: 10px;
    color: #1a2238;
}

::backdrop {
    background-color: rgba(255, 255, 255, 0.75);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeColor {
    from {
        background-color: #ff6a3d;
    }
    to {
        background-color: #ffffff;
    }
}

