@media only screen and (min-width: 38rem) {
    /* 38rem is 608px*/

    header,
    main,
    footer {
        margin: 0 auto;
    }

    main {
        padding: 0 40px;
    }

    header {
        grid-template-columns: 24px auto auto;
        padding: 60px 40px 10px 40px;   
    }

    header img {
        display: block;
        width: 60px;
        height: 60px;
    }

    header span {
        padding-left: 40px;
        align-self: center;
        font-size: 1.5rem;           
    }   

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;   
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation li {
        flex: 1;
    }

    .navigation a {
        border: none;
        text-align: center;
    }

    .grid  {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 0 1rem;
    }

    .grid section {
        margin: 1rem 0;
        padding: 15px 0;
    }


    .list section {
        grid-template-columns: 20% 30% 15% 28%;
        column-gap: 20px;
        border-top: 1px solid #cdd2ed;
        padding: 0.5rem 10px;       
    }

    .list h2, .list p, .list a {
        font-size: 1rem;
    }

    footer {
        display: flex;
        gap: 1em;
        padding: 40px;
    }

    footer div {
        flex: 1;
    }

    /* -------Home Page ------- */

    .hero img {
        width: auto;
    }

    .hero a {
        bottom: -30%;
        left: 13%;
    }

    #sections {
        display: flex;
    }

    #sections div {
        padding: 0 1rem;
        border: 1px solid #8bc2e3;;
        margin-bottom: 1.5rem;
    }
    

    #spotlights {
        display: flex;
        padding: 10px 0;
        margin: 1rem 0;
    }

    #spotlights section {
        margin: 10px;
    }

    #join-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .myform input[type="text"],
    .myform input[type="tel"],
    .myform textarea,
    .myform input[type="email"] {
        max-width: 100%;
    }

    .myform input[type="submit"] {
        display: block;
        margin: 1rem auto;
    }
}