@media only screen and (min-width: 38rem) { /* 38rem is 608px*/

    header, nav, main, footer {
        max-width: 900px;
        margin: 0 auto;
    }
    
    header {
        grid-template-columns: 24px auto;
    }
    
    .hamburger {
        display: none;
    }

    .navigation {
        display: block; /* ensures that the navigation shows whether show class is on or off*/
        border-bottom: 1px solid pink;
        margin: 0 auto;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation li {
        flex: 1;
    }

    .navigation a {
        border: none;
        text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 90px 1fr auto;
        gap: 10px;
        grid-template-areas: 
        "h1 h1"
        "about photo"
        "courses courses"
    }

    h1 {
        grid-area: h1;
    }
   
    .about {
        grid-area: about;
    }

    .photo {
        grid-area: photo;
    }

    .courses {
        grid-area: courses;
    }

    section {
       margin: 0;
    }


    #certif-courses {
        display: grid;
        grid-template-rows: auto auto;

    }


    #certif-courses #course-options {
        grid: 1 / 2;
    }

    #certif-courses [type=button] {
        width: 10rem;
    }

    #certif-courses #all-cards {
        grid: 2 / 3;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 1rem;
    }

    #certif-courses section {
        margin: 0 auto;
        width: 13rem;
    }

    
    footer {
        margin-top: 10px;
    }
}