* {
    box-sizing: border-box;
    font-family: 'STIX Two Text', Arial, sans-serif;
    color: #051622;
}

h1, h2, footer {
    text-align: center;
    padding-top: 10px;
    color: #113f60;
} 


p {
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.8rem 1rem;
    margin: 1rem;
}

section {
    background-color: #e3d4c6;
    box-shadow: 0 0 10px #dbc1a8;
}

img {
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 10px #051622;
    
}