@media only screen and (min-width: 38rem) { /* 38rem is 608px*/
    
    header {
        grid-template-columns: 24px auto;
    }

    header img {
        width: 300%;
    }

    header span {
        font-size: 5rem;
        padding-left: 45px;
    }
    
    .hamburger {
        display: none;
    }

    .navigation {
        display: block; /* ensures that the navigation shows whether show class is on or off*/
        margin: 0 auto;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation li {
        flex: 1;
    }

    .navigation a {
        border: none;
        text-align: center;
    }

    #container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 10px;
        grid-template-areas: 
        "h2 h2"
        "photo argument "
        "link argument"
        "button argument"
    }

    h2 {
        grid-area: h2;
    }

    main img {
        grid-area: photo;
    }
   
    #check-galleria {
        grid-area: link;
    }

    .argument {
        grid-area: argument;
    }

    #filtered div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 10px;
        margin: 1rem;
    }

    #filtered img:hover {
        transform: scale(1.03);
    }

    .myform {
        margin: 1rem;
    }

    .myform input[type="text"],
    .myform textarea,
    .myform input[type="email"] {
        max-width: 450px;
    }

    .myform input[type="submit"] {
        display: block;
        margin-top: 2.5rem;
    }
   
    footer {
        margin-top: 10px;
    }
}