* {
    font-family: 'Opens Sans', 'Crimson Text', sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
}

/* --------- Header ---------- */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    background-color:white;
    color: #01463c;
    column-gap: 8px;
    align-items: end;
}

header img {
    display: flex;
    width: 200%;
    height: auto;
    align-self: center;   
}

header span {
    padding-left: 15px;
    font-size: 3rem;
}

/* -------- Hamburger Button --------- */

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #01463c;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* changed font-family because "Open Sans" was displying a small X */
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}


/* ---------- Navigation --------- */

.navigation {
    display: none; /* not display the navigation bar by default*/
    background-color: #01463c;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #f7f4ee;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: 1px solid #f7f4ee;
    color: #f7f4ee;
}

.navigation li.current {
    background-color: #f7f4ee;
    border: 2px solid #01463c;
}

.navigation li.current a {
    color: #01463c; 
}

.navigation a:hover {
    background-color: #f7f4ee;
    color: #01463c;
    border: 2px solid #01463c;
    border-left: none;
}

/* -------- Main --------- */

#container {
    /* background: linear-gradient(rgba(247, 244, 238, 0.5), rgba(236, 215, 173, 0.5)), url("../images/wallpaper.jpg"); */
    background-size: contain;
    padding-bottom: 1rem;
    background: linear-gradient(rgba(247, 244, 238, 0.5), rgba(236, 215, 173, 0.5));
}

h1 {
    padding-left: 10px;
    color: #01463c;
}

.argument {
    background-color: #01463c;
    color: #f7f4ee;
    border: 3px outset #fefead;
    margin: 10px;   
}

.argument p {
    padding: 0 20px;
    line-height: 35px;
}

h2 {
    text-align: center;
    background-color: #fefead;
    padding: 10px;
    margin: 0;
    color: #01463c;
    font-size: 1.5rem;
}

#container img {
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 10px #153318;
}

#check-galleria {
    text-align: center;
    color: #01463c;
}

/* ---------- Galleria --------- */

#menu-options {
    display: flex;
    justify-content: center;
}

#menu-options [type=button] {
    margin: 2.8px;
    width: 4.3rem;
    border-color: #f7f4ee;
    background-color: #fefead;
}

#menu-options [type=button]:hover {
    background-color: #def3e1;
}

#filtered section {
    background-color: #eaf3eb;
    border-radius: 7px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 4px #999;
}

#filtered img {
    box-shadow: 1px 1px 4px #999;
}

#filtered p {
    margin: 0;
    padding: 2px;
}

/* -------- Form ------------ */

.myform {
    margin: .8rem 0 3rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.5rem 2%;
}

.myform label {
    display: block;
    padding-top: 1rem;
    color: #01463c;
    font-size: 0.9rem;
}

.myform .radio {
    padding-top: .5rem;
}

.myform label:last-of-type {
    padding-top: 1.8rem;
}

.myform div {
    padding-top: 1.5rem;
    color: #01463c;
    font-size: 0.9rem;
    text-decoration: underline;
}

.myform input[type="text"],
.myform textarea,
.myform input[type="email"] {
    background-color: #f7f4ee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 0.75rem;
    color: #1a2238;
    width: 100%;
    max-width: 320px;
    appearance: none;
}

.myform input[type="radio"] {
    margin-right: 6px;
}

.myform input[type="submit"] {
    border: none;
    background-image: linear-gradient(#868f8e, #01463c);
    color: #f7f4ee;
    border-radius: 6px;
    padding: 0.8rem;
    width: 100%;
    max-width: 320px;
    margin: 1rem 0;
    box-shadow: 1px 1px 4px #999;
}

.myform input:required {
    border-bottom: 8px solid #868f8e;
}

.myform input:required:valid {
    border-bottom: 8px solid #01463c;
}

.myform input[type="submit"]:hover {
    transform: scale(1.03);
}


#form-results {
    background-color: #f7f4ee;
    padding: 0 1rem;
    border: 1px solid #01463c;
    border-radius: 6px;
    margin: 0 auto 1rem;
}

#preference {
    background-color: #def3e1;
    padding: 1rem;
    border: 1px solid #01463c;
    border-radius: 6px;
    margin: 0 auto 1rem;
    text-align: center;
}


/* ------- Dialog ------- */

#learnmore {
    padding: 10px;
    margin: 0 auto;
    color: #01463c;
}

#learnmore p, #learnmore span {
    line-height: 35px;
    text-align: center;
}

dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: fit-content;
}

dialog button {
    float: right;
    margin: 0;
    padding: .9rem;
    border: none;
    box-shadow: 0 0 10px #aaaaaa;
}

dialog p {
    padding-top: 2px;
    color: #01463c;
    word-break: break-all;
}

::backdrop {
    background-color: rgba(255, 255, 255, 0.75);
} 


/* -------- Footer -------- */

footer {
    background-color:white;
    padding: 1rem 10px;
    text-align: center;   
    color: #01463c;
}

.socialLinks {
    display: flex;
    column-gap: 8px;
    justify-content: center;
}

.socialLinks a {
    display: flex;
    width: 44px; /* touch device*/
    height: 44px;
    border:2px solid #cbb993;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
}

.socialLinks img {
    width: 22px;
    height: 22px;
}

.socialLinks a:hover {
    background-color: rgb(222, 243, 225);
}